body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 50px;
    background-color: rgb(3, 3, 3);
     
}
h1{ 
    color: #ff1e00;
    text-align: center;
}

p {
    color: #db8607 }
